.results {
  align-items: center;
  margin: 20px 0 20px 10px;
  display: flex;
  justify-content: center;
}
.result-cards {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
}

@media all and (min-width: 768px) {
  .result-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
