.results {
  align-items: center;
  margin: 20px 0 20px 10px;
  display: flex;
  justify-content: center;
}
.result-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // margin-left: 60px;
}
