.inputs-boxes_name {
  transition: color ease 0.8s;
  &:hover {
    background-color: #6c5c07;
  }
}
.input-boxes_name {
  margin-bottom: 15px;
}
.input-boxes-name {
  margin-bottom: 15px;
}
