.inputs-boxes {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  color: #6c5c07;
}
.input-boxes-name {
  color: #6c5c07;
}
.header-title__sub {
  text-align: center;
  font-size: 30px;
  color: #6c5c07;
}
