//Reset styles

@font-face {
  font-family: "HARRYP";
  src: url("../../fonts/HARRYP.ttf") format("truetype");
}
* {
  font-family: "HARRYP", sans-serif;
  box-sizing: border-box;
  font-weight: medium;
  font-size: 25px;
  margin-left: 0%;
}
